body {
    background-image: url("../images/wallpaper.png");
    color: #dddddd;
    text-align: center;
}

/* .container {
    
    margin: 30px auto;
    background-color: #ffffff;
    border-color: #dddddd;
    border: 1px;
    text-align: center;
    border-style: solid;
} */

.navbar {
    font-weight: bold;
    border-style: solid;
}

.row{
    margin: auto;
    text-align: center;
}

h3 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 16pt;
    margin: 13px;
}

#maincard {
    margin: 30px auto;
    background-color: #ffffff;
    border-color: #dddddd;
    border: 1px;
    text-align: center;
    border-style: solid;
}

.card {
    margin: 30px auto;
    text-align: left;
    border-style: hidden;
}

hr {
    width: 250px;
    font-weight: bold;
    margin: 0px auto;
}

#portfolio {
    text-align: left;
    background-color: #ffffff;
    border-color: #dddddd;
    width: 600px;
    margin: 25px;
    margin-left: 150px;
    border: 1px;
    border-style: solid;
    padding: 40px;
}

.imgcontainer {
    margin: 20px;
    border-color: #b1b1b1;
    border: 1px;
    border-style: solid;
}

.banner {
    background-color: #4aaaa5;
    color: white;
    font-size: 12pt;
    text-align: center;
    line-height: 250%;
    margin-bottom: 20px;
}

#contact {
    text-align: left;
    background-color: #ffffff;
    border-color: #dddddd;
    width: 700px;
    margin: 25px;
    margin-left: 90px;
    border: 1px;
    border-style: solid;
    padding: 40px;
}

#footer {
    border-top: 6px;
    border-style: solid;
    border-color: #4aaaa5;
    background-color: #666666;
    text-align: center;
    font-size: 6pt;
}